body {
    margin-top: 0;
    background-color: #EDEDED;
}

h1 {
    color: green;
}

.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* menu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

li a {
    display: block;
}

/* collection table */
.collection_button {
    --width: 200px;
    --height: 25px;

    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
}

.collection_button input {
    position: absolute;
    opacity: 0;
}

.checkmark {
    position: absolute;
    display: inline-block;
    height: 25px;
    width: 200px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
    background-color: #9b949460;
}

.collection_button input:checked~.checkmark {
    background-color: rgb(114, 185, 113);
}

.collection_label {
    position: relative;
    top: 4px;
    left: 10px;
}

.container {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    min-height: 850px;
    gap: 20px;
    align-content: flex-start;
}

.child {
    width: 200px;  
    height: 100%;  
    align-self: flex-start;
}

.head {
    position: relative;
    left: 10px;
    bottom: 10px;
}

.confirm_button {
    --width: 200px;
    --height: 25px;

    position: relative;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
    background-color: #9b949460;
}

@media (min-width:801px) {
    body {
        margin-left: 10%;
        margin-right: 10%;
    }    
}

@media (min-width:1281px) {
    body {
        margin-left: 20%;
        margin-right: 20%;
    }    
}
