body {
    margin-top: 0;
    margin-bottom: 0;
    background-color: #EDEDED;
}

h1 {
    color: green;
}

.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* menu */
.menu_main {
    display: flex;
    flex-flow: row wrap;
}

.menu_sub {
    display: flex;
    box-sizing: border-box;
    min-width: 150px;
    width: calc(100% / 4);
    background-color: rgb(114, 185, 113);
    border: 1px solid black;
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

li a {
    display: block;
}

/* Spiel Übersicht */
table,
th,
td {
    border: 1px solid black;
}

/* collection table */
.collection_button {
    --width: 200px;
    --height: 25px;

    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
}

.collection_button input {
    position: absolute;
    opacity: 0;
}

.checkmark {
    position: absolute;
    display: inline-block;
    height: var(--height);
    width: var(--width);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
    background-color: #9b949460;
}

.collection_button input:checked~.checkmark {
    background-color: rgb(114, 185, 113);
}

.collection_label {
    position: relative;
    top: 4px;
    left: 10px;
}

.container {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    min-height: 850px;
    gap: 20px;
    align-content: flex-start;
}

.child {
    width: 200px;
    height: 100%;
    align-self: flex-start;
}

.head {
    position: relative;
    left: 10px;
    bottom: 10px;
}

.confirm_button {
    --width: 200px;
    --height: 25px;

    position: relative;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
    background-color: #9b949460;
}

.collection_button_2 {
    --width: 200px;
    --height: 25px;

    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
}

.collection_button_2 input {
    position: absolute;
    opacity: 0;
}

#checkmark_2 {
    position: absolute;
    display: inline-block;
    height: var(--height);
    width: var(--width);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
    background-color: rgb(210, 39, 39);
}

.collection_button_2 input:checked~#checkmark_2 {
    background-color: rgb(114, 185, 113);
}

#result_label {
    position: relative;
    top: 4px;
    left: 10px;
    font-weight: bold;
}

.dif_select {
    --width: 200px;
    --height: 25px;

    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
}

.dif_select input:checked {
    background-color: rgb(114, 185, 113); 
}

@media (min-width:801px) {
    body {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (min-width:1281px) {
    body {
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media (max-width:630px) {
    .menu_sub {
        display: flex;
        box-sizing: border-box;
        min-width: 150px;
        width: calc(100% / 2);
        background-color: rgb(114, 185, 113);
        border: 1px solid black;
        color: black;
    }
}

@media (max-width:330px) {
    .menu_sub {
        display: flex;
        box-sizing: border-box;
        min-width: 150px;
        width: 100% ;
        background-color: rgb(114, 185, 113);
        border: 1px solid black;
        color: black;
    }
}