body {
    margin-top: 0;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #EDEDED;
}

h1 {
    color: green;
}

.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

li a {
    display: block;
}

/* .c_button {
    --width: 200px;
    --height: 25px;

    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
    background-color: rgb(114, 185, 113);
} */

.collection_button {
    --width: 200px;
    --height: 25px;

    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;

}

.collection_button input {
    position: absolute;
    opacity: 0;
}

.checkmark {
    position: absolute;
    display: inline-block;
    height: 25px;
    width: 200px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
    background-color: #9b949460;
}

/* When the checkbox is checked, add a green background */
.collection_button input:checked~.checkmark {
    background-color: rgb(114, 185, 113);
}

.collection_label {
    position: relative;
    top: 3px;
    left: 10px;
}